.cartitems {
    margin: 100px 170px;
  }
  
  .cartitems hr {
    height: 3px;
    background: #e2e2e2;
    border: 0;
  }
  
  .cartitems-format-main {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr 1fr; /* Thêm một cột cho "Size" */
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 500;
  }
  
  .cartitems-format {
    font-size: 17px;
    font-weight: 500;
  }
  
  .carticon-product-icon {
    height: 62px;
  }
  
  .cartitems-remove-icon {
    width: 15px;
    cursor: pointer;
    margin: 0px 40px;
    transition: transform 0.3s ease-in-out;
  }
  
  .cartitems-remove-icon:hover {
    transform: scale(1.2);
  }
  
  .cartitems-quantity {
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background: #fff;
  }
  
  .cartitems-down {
    display: flex;
    margin: 100px 0px;
  }
  
  .cartitems-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
  }
  
  .cartitems-total-item {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
  }
  
  .cartitems-total-item p {
    font-size: 20px;
    font-weight: 500;
  }
  
  .cartitems-total button {
    width: 100%;
    height: 69px;
    border-radius: 75px;
    background: black;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border: 0;
  }
  
  .cartitems-promocode {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 200px;
    color: #787878;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 0px;
  }
  
  .cartitems-promocode p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    color: #454545;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .cartitems-promocode input {
    width: 93%;
    height: 69px;
    border-radius: 75px;
    background: #e2e2e2;
    border: 0;
    outline: 0;
    padding: 0 20px;
    font-size: 20px;
    font-weight: 500;
    color: #787878;
    transition: color 0.3s;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .cartitems-promocode button {
    width: 100%;
    height: 69px;
    border-radius: 75px;
    background: black;
    color: white !important;
    font-size: 20px;
    font-weight: 500;
    border: 0;
  }
  
  .cartitems-total-method {
    margin-top: 20px;
  }
  
  .cartitems-total-method p {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #454545;
    
  }
  
  .cartitems-total-method select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .cartitems-total-method select:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    outline: 0;
    transition: border-color 0.3s;
    color: #454545;
    font-size: 16px;
  }
  
  .cartitems-checkout-button {
    width: 100%;
    height: 69px;
    border-radius: 75px;
    background: black;
  }

  .cartitems-checkout-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .cartitems-checkout-button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
  