$profile-color: #f0f0f0;
$text-color: #212529;
$button-border-radius: 5px;
$button-font-size: 16px;

.profile-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: $profile-color;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;

  .profile-info {
    margin-top: 20px;

    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ced4da; 
      border-radius: $button-border-radius;
      box-sizing: border-box;
    }

    p {
      margin-bottom: 10px;
    }

    strong {
      font-weight: bold;
      margin-right: 10px;
    }
  }

  .profile-buttons {
    margin-top: 20px;

    .edit-button,
    .save-button,
    .cart-button {
      padding: 10px 20px;
      font-size: $button-font-size;
      border: none;
      border-radius: $button-border-radius;
      cursor: pointer;
      transition: background-color 0.3s ease; 
    }

    .edit-button {
      background-color: #28a745;
      color: $text-color;
      margin-left: 5px;
    }

    .save-button {
      background-color: #ffc107;
      color: $text-color;
      margin-left: 5px;
      display: none;
    }
    
    .cart-button{
      background-color: #007bff;
      color:$text-color;
    }

    .edit-button:hover,
    .save-button:hover {
      background-color: darken(#28a745, 10%); 
    }
  }

  &.edit-mode {
    .profile-info {
      input {
        background-color: #f9f9f9;
      }
    }

    .edit-button {
      display: none;
    }

    .save-button {
      display: inline-block;
    }
  }
}
