.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
  }
  
  .nav-logo {
    height: 40px;
    margin-right: auto;
  }
  
  .options-dropdown {
    margin-left: auto;
    cursor: pointer;
  }
  