$hero-height: 100vh;
$hero-left-padding: 180px;
$hero-left-gap: 20px;
$hero-latest-btn-width: 310px;
$hero-latest-btn-height: 70px;
$hero-hand-icon-gap: 20px;


@media (max-width: 768px) {
  $hero-left-padding: 50px;
  $hero-latest-btn-width: 250px;
  $hero-latest-btn-height: 50px;
  $hero-hand-icon-gap: 10px;
}

.hero {
  height: $hero-height;
  background: linear-gradient(180deg, #696963, #e1ffea22 60%);
  display: flex;

  .hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $hero-left-gap;
    padding-left: $hero-left-padding;
    line-height: 1.1;

    h2 {
      color: #090909;
      font-size: 26px;
      font-weight: 600;
    }

    p {
      color: #171717;
      font-size: 100px;
      font-weight: 700;
    }

    .hero-hand-icon {
      display: flex;
      align-items: center;
      gap: $hero-hand-icon-gap;

      img {
        width: 105px;
      }
    }

    .hero-lastest-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
      width: $hero-latest-btn-width;
      height: $hero-latest-btn-height;
      border-radius: 75px;
      background: #ff4141;
      color: white;
      font-size: 20px;
      font-weight: 500;
    }
  }

  .hero-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 90%;
    }
  }
}
.hero-lastest-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: $hero-latest-btn-width;
  height: $hero-latest-btn-height;
  border-radius: 75px;
  background: #ff4141;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.hero-lastest-btn:hover {
  opacity: 0.8;
}