$primary-color: #171717;
$secondary-color: #626262;
$accent-color: #FF4141;
$border-color: #7a7a7a;


.navbar {
  display: flex;
  justify-content: space-around;
  padding: 16px;
  box-shadow: 0 1px 3px -2px black;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo p {
  color: $primary-color;
  font-size: 38px;
  font-weight: 600;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  color: $secondary-color;
  font-size: 20px;
  font-weight: 500;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
}

.nav-menu hr {
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background-color: $accent-color;
}


.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 45px;
}

.nav-login-cart button {
  width: 157px;
  height: 58px;
  outline: none;
  border: 1px solid $border-color;
  border-radius: 75px;
  color: $secondary-color;
  background: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.nav-login-cart button:active {
  background: #f3f3f3;
}

.nav-cart-count {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  margin-left: -55px;
  border-radius: 11px;
  font-size: 14px;
  background: red;
  color: white;
}

.custom-dropdown-menu {
  background-color: #fff; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.custom-dropdown-menu .ant-menu-item {
  padding: 10px 20px; 
}

.custom-dropdown-menu .ant-menu-item:hover {
  background-color: #f0f0f0; 
}
.custom-dropdown-menu .ant-menu-item a {
  text-decoration: none; 
  color: #333; 
}

.custom-dropdown-menu .ant-menu-item a:hover {
  color: #1890ff; 
}

.custom-dropdown-menu .ant-menu-item:last-child {
  border-top: 1px solid #ccc; 
}

.custom-dropdown-menu .ant-menu-item:last-child:hover {
  background-color: #f0f0f0;
}

.custom-dropdown-menu button {
  width: 100%;
  padding: 10px 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: left; 
}

.custom-dropdown-menu button:hover {
  background-color: #f0f0f0; 
}

.list-item {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  &:last-child {
    border-bottom: none;
  }
  .ant-list-item-meta {
    margin-right: 20px;
  }
  .ant-list-item-meta-avatar {
    margin-right: 10px;
  }
}

.search-input {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .nav-menu {
    gap: 20px;
  }

  .nav-login-cart {
    gap: 20px;
  }

  .nav-login-cart button {
    width: 120px;
    height: 45px;
    font-size: 16px;
  }

  .nav-cart-count {
    width: 18px;
    height: 18px;
    margin-top: -25px;
    margin-left: -35px;
    font-size: 12px;
  }

}

