.new-collections {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
  // padding: 0 50px;

  h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
  }

  hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
  }

  .collections {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  .new-collections {
    padding: 0 20px; /* Giảm padding cho điện thoại */
    margin-top: 50px; /* Giảm khoảng cách trên điện thoại */
    margin-bottom: 50px; /* Giảm khoảng cách dưới điện thoại */
  }

  h1 {
    font-size: 30px; /* Giảm kích thước font chữ */
  }

  hr {
    width: 100px; /* Giảm chiều rộng */
    height: 4px; /* Giảm chiều cao */
    border-radius: 5px; /* Giảm độ cong viền */
  }

  .collections {
    grid-template-columns: repeat(2, 1fr); /* Hiển thị 2 cột trên mỗi hàng */
    gap: 20px; /* Giảm khoảng cách giữa các phần tử */
    margin-top: 30px; /* Giảm khoảng cách trên điện thoại */
  }

  img {
    width: 100%; /* Đảm bảo hình ảnh điền vào phần tử cha */
    height: auto; /* Tự động tính toán chiều cao dựa trên chiều rộng */
  }
}
.item {
  width: 100%;

  img {
    width: 350px;
    height: 600px;
    object-fit: cover;
  }
}
