/* ListProduct.css */

.list-product {
    width: 80%; /* Giới hạn kích thước tối đa */
    margin: 20px auto; /* Căn giữa và tạo khoảng cách ở trên và dưới */
    padding: 20px; /* Thêm padding để tạo khoảng cách với viền ngoài */
    background-color: #f9f9f9; /* Màu nền */
    border-radius: 10px; /* Bo góc */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Đổ bóng */
    font-family: Arial, sans-serif; /* Font chữ */
  }
  
  .listproduct-format-main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
    background-color: #f0f0f0;
    padding: 10px;
    font-weight: bold;
  }
  
  .listproduct-format-main p {
    margin: 0;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 30px;
  }
  
  .listproduct-allproducts {
    margin-top: 10px;
  }
  
  .listproduct-format {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
    padding: 10px;
    align-items: center;
  }
  
  .listproduct-product-icon {
    width: 50px;
    height: 50px;
    margin: 0 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .listproduct-remove-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s;
    margin: 0 70px;
    border-radius: 50%;
    padding: 10px;
    border: none;
    display: flex;
    align-items: center;

  }
  
  .listproduct-remove-icon:hover {
    opacity: 0.7;
  }
  
  .listproduct-format-main.listproduct-format{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
    background-color: #f0f0f0;
    padding: 10px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    border-bottom: black 1px solid;
  }

  .pagination {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .pagination button {
    padding: 8px 16px;
    margin: 0 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    font-weight: bold;
  }
  
  .pagination button:hover {
    background-color: #0056b3;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination span {
    padding: 8px 16px;
    margin: 0 5px;
    font-size: 16px;
  }
  
  .action-dropdown {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .action-dropdown button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background-color: transparent;
    color: #333;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px;
  }
  
  .action-dropdown button:last-child {
    border-bottom: none;
  }
  
  .action-dropdown button:hover {
    background-color: #f0f0f0;
    color: #007bff;
  }
  
  .button-action {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 70px;
  }
  
  .button-action:hover {
    background-color: #0056b3;
  }
  /* modal */
  