.productdisplay {
  display: flex;
  margin: 0px 170px;
}

.productdisplay-left {
  display: flex;
  gap: 17px;
}

.producdisplay-img-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.producdisplay-img-list img {
  width: 137px;
}
.productdisplay-main-img {
  width: 586px;
  height: 700px;
}

.productdisplay-right {
  margin: 0px 70px;
  display: flex;
  flex-direction: column;
}

.productdisplay-right h1 {
  font-size: 40px;
  font-weight: 700;
  color: #171717;
}

.productdisplay-right-stars {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 13px;
  color: #1c1c1c;
  font-size: 20px;
}

.productdisplay-right-prices{
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}

.productdisplay-right-price-old{
    color: #9f9f9f;
    text-decoration: line-through;
}

.productdisplay-right-price-new{
    color: #ff4141;
    font-size: 24px;
}

.productdisplay-right-size h1{
    font-size: 20px;
    font-weight: 600;
    color: #171717;
    margin-top: 55px;
}

.productdisplay-right-size{
    display: flex;
    margin: 30px 0px;
    gap: 20px;
}

.productdisplay-right-sizes{
    display: flex;
    margin: 30px 6px;
    gap: 10px;
}

.productdisplay-right-sizes div{
    padding: 18px 24px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}

.productdisplay-right button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white !important;
    background: #ff4141;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}

.productdisplay-right-category{
    margin-top: 10px;
}

.productdisplay-right-category spam{
    font-weight: 600;
}

.productdisplay-right-cart-popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #000;
  color: #fff;
  padding: 30px;
  border-radius: 10px;
  font-weight: 600;
  border: 2px solid #fff;
  animation: slideIn 1.5s ease-in-out;
  max-width: 400px; /* Đặt kích thước tối đa */
  z-index: 999; /* Đảm bảo popup hiển thị trên các phần khác */
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

